@model IEnumerable<TourWebApp.Models.Tour>

@{
    ViewData["Title"] = "Index";
}

<h1>Tours list</h1>
<label for="TourTypeID" class="control-label"></label>
<select name="TourType" id="TourType" class="form-control" asp-items="ViewBag.TourTypeID">
    <option value="all">ALL</option>
</select>
<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="ptours">


</div>

<script>
    PrintAll();

    function PrintAll() {
        $.ajax({
            url: "/TourList/PrintAll",
            type: "GET",
            cache: false,
            async: true,
            success: function (response) {
                $("#ptours").html(response)
            }
        });
    }

    $("#TourType").change(function () {
        var content = this.value;
        if (content == "all") {
            PrintAll();
        } else {
        $.ajax({
            url: "/TourList/Filter",
            type: "GET",
            data: { id: content },
            cache: false,
            async: true,
            success: function (response) {
                $("#ptours").html(response)
            }
        });
        }
    });
</script>
